.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
}

.app-container.dark {
  background-color: #1a202c !important;
  color: white !important;
}


.toggle-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.mode-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.mode-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.mode-toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;
}

.mode-toggle .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.toggle-icon {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 18px;
  color: gold;
}

input:checked + .slider .toggle-icon {
  left: 28px;
  color: #f4c430;
}


.weather-container {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
  max-width: 400px;
  width: 90%;
}


.unit-toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.unit-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.unit-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.unit-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;
}

.unit-switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #5d788e;
}

input:checked + .slider:before {
  transform: translateX(24px);
}
.temperature {
  font-size: 2.5rem; 
  font-weight: bold;
  margin: 10px 0;
}